// <section className="mainContent__Statistic">
// <div className="statisticBox">1</div>
// <div className="statisticBox">2</div>
// <div className="statisticBox">3</div>
// </section>


.statisticBox {
    width: 70%;;
    height: 25%;
    background-color: $gray-dark;
    @include tablet {
        width: 30%;
        height: 80%;
    }
}