        // <!-- <section className="mainContent">
        //   <section className="mainContainerStatistic"></section>
        //   <section className="mainContainerInput"></section>
        // </section> -->

        .mainContent {
          width: 100%;
          min-height: 90vh;
          display: flex;
          @include tablet {
            flex-direction: column;
          }
          &__Statistic {
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: $gray-middle;
            @include tablet {
              width: 100%;
              height: 210px;
              position: sticky;
              opacity: 90%;
              top: 0;
              flex-direction: row;
            }
          }
          &__Data {
            width: 80%;
            @include tablet {
              width: 100%;
            }
          }
        }