// <section className="mainContent__Statistic">
// <div className="statisticBox">1</div>
// <div className="statisticBox">2</div>
// <div className="statisticBox">3</div>
// </section>


.statisticBox {
    width: 80%;;
    height: 25%;
    border: 1px dotted darkcyan;
    background-color: greenyellow;
    @include tablet {
        width: 30%;
        height: 80%;
        //margin: 20px;
    }
}