// <header className="headerMain">
// <div className="logo">Logo</div>
// <div className="userInformation">
//   <div className="userName">USER NAME</div>
//   <div className="userImage">AVATAR</div>
// </div>
// </header>

.headerMain {
    width: 80%;
    height: 10vh;
    display: flex;
    background-color: $gray-lighter;
    // position: sticky;
    // top: 0;
    // z-index: 100;
    @include tablet {
        width: 100%;
    }

    .logo {
        width: 20%;
        //height: 100%;
        display: flex;
        align-items: center;
        //padding-left: 20px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .userInformation {
        width: 80%;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .userName {
            width: 90%;
            font-weight: 400;
            font-size: 20px;
            @include tablet {
                text-align: center;
            }
            strong {
                font-weight: 100;
                font-size: 30px;
                line-height: 10px;
                color: $turquoise-lighter;
                @include mobile {
                font-size: 20px;
                }
            }
        }
        .userImage {
            margin-right: 20px;
            .avatar {
                font-size: 50px;
                color: $turquoise-lighter;
                font-variation-settings: "wght" 100;
            }
            .logOut {
                line-height: 5px;
                margin-bottom: 15px;
                color: $turquoise-light;
                cursor: pointer;
            }
        }
    }
}