@import "./reset/reset";

@import "./settings/sizes";
@import "./settings/colors";
@import "./settings/fonts";

//@import "./settings/variables"; // ZMIENNE OGÓLNE
@import "./settings/mixins";
@import "./elements/buttons";
@import "./elements/input";
@import "./elements/scrollbar";
@import "./elements/icons";


@import "./animation/animation";


@import "./sections/signIn-signUp/general";

@import "./sections/mainPage/loading";
@import "./sections/mainPage/headerMainPage";
@import "./sections/mainPage/bodyMainPage";
@import "./sections/mainPage/bodyMainPage__Statistic";
@import "./sections/mainPage/bodyMainPage__Data";
@import "./sections/mainPage/bodyMainPage__Rooms";
@import "./sections/mainPage/fotterMainPage";
@import "./sections/mainPage/mainPage";
//@import "./sections/general"; //STYLOWANIE DLA OGÓLNYCH ELEMENTÓW
//@import "./sections/header";
//@import "./sections/open_section";
//@import "./sections/statistic";
//@import "./sections/benefit.scss";
//@import "./sections/pricing.scss";
//@import "./sections/userform.scss";
//@import "./sections/footer.scss";
//@import "./sections/calc.scss";

body {
    background-color: $gray-dark;
    font-family: $font-primary;
    font-weight: 300;
    color: $white;
}