//COLORS CONENCTED TO PROJECT
$black: #010101;
$white: #FFFFFF;

$gray-dark: #141517;
$gray-middle: #242527;
$gray-light: #3D3E40;
$gray-lighter: #3D3E40;
$gray-lightest: #767676;

$turquoise-dark: #233238;
$turquoise-middle: #344D58;
$turquoise-light: #528498;
$turquoise-lighter: #7CCEEE;

$purple-dark: #3E2D45;
$purple-middle: #D06BE2;

//TO CHECK
$gold-dark: #FAED83;
$gold-middle: #fffce1

